.row {
  display: flex;
  flex-wrap: wrap;
}

.ptg-1 {
  flex: 0 0 8.333333%;
}

.ptg-2 {
  flex: 0 0 16.666666%;
}

.ptg-3 {
  flex: 0 0 25%;
}

.ptg-4 {
  flex: 0 0 33.3333333%;
}

.ptg-5 {
  flex: 0 0 41.666666%;
}

.ptg-6 {
  flex: 0 0 50%;
}

.ptg-7 {
  flex: 0 0 58.333333%;
}

.ptg-8 {
  flex: 0 0 66.666666%;
}

.ptg-9 {
  flex: 0 0 75%;
}

.ptg-10 {
  flex: 0 0 83.333333%;
}

.ptg-11 {
  flex: 0 0 91.666666%;
}

.ptg-12 {
  flex: 0 0 100%;
}


/* 隐藏元素 */
@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/* 显示元素 */
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}
